body {
  background-color: #00777d;
  margin: 0px;
  padding: 0px;
}

header {
  padding: 15px;
}

footer {
  background-color: #EDECE4;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0px;
  width:100%;
  position:absolute;
}

.logo {
  width: 22%;
}

.drapeauf {
  margin-top: 30px;
  margin-right: 100px;
  float: right;
  width: 3%;
}

.drapeauru {
  margin-top: 30px;
  margin-right: 30px;
  float: right;
  width: 3%;
}

.titre {
  position: absolute;
  top: 40px;
  background-color: #EDECE4;
  margin-left: 30%;
  width: 750px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  border: 2px #000000 solid;
  font-family: Roboto;
}

.ML {
  position: relative;
  background-color: #000000;
  padding: 10px;
  float: right;
  margin-right: 100px;
}

.MLtext {
  text-decoration: none;
  color: #EDECE4;
}

.flechedroite {
  text-decoration: none;
  color: #FFD400;
  margin-top: 5%;
  float: right;
  font-size: 200px;
  padding-right: 20px;
}

.flechedroite:hover{
  color: #F6E58E;
}

.flechegauche {
  text-decoration: none;
  color: #D2D2CE;
  margin-top: 5%;
  float: left;
  font-size: 200px;
  padding-left: 20px;
}

.mentionlegales {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.mentionlegales:target {
  visibility: visible;
  opacity: 1;
}

.mentionlegales_content {
  border-radius: 4px;
  position: relative;
  width: 1050px;
  max-width: 90%;
  background: white;
  padding: 1.5em 2em;
}

.mentionlegales_close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: grey;
  text-decoration: none;
}

.ML_P {
  line-height: 90%;
}

.ML_H3 {
  line-height: 10%;
}

.contenu {
  font-family: Roboto;
  color: white;
  font-size: 140%;
  padding-left: 350px;
  padding-right: 350px;
  text-align: center;
  line-height: 175%;
}

.imageportnuit {
  margin-top: 30px;
  width: 50%;
  border: 2px #000000 solid;
}

.logo2 {
  display: none;
}

ul {
  display: none;
  list-style: none;
}

li {
  display: inline-block;
  border-radius: 10%;
  font-size: 25px;
  padding: 10px;
}

li:hover {
  background-color: #FFD400;
  border: 3px #000000 solid;
  font-weight: bold;
}

a {
  text-decoration: none;
}

#icon-menu {
  content: url("../img/hamburger-button-icon-9.png");
  visibility: hidden;
  width: 60px;
  height: 50px;
  background-color: #00777d;
}

nav {
  display: none;
}

@media only screen 
and (max-device-width: 414px) 
and (max-device-height: 767px) {

  nav {
    display: block;
    padding: 10px;
  }

  #logoo {
    padding-top: 200px;
    margin: 20px;
    float: left;
    width: 20px;
  }
  .logo {
    display: none;
  }

  .logo2 {
    padding-top: 20px;
    display: block;
    width: 50%;
    margin: auto;
  }

  .titre {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 50px;
    max-width: 100%;
    min-width: 90%;
    font-size: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .flechedroite {
    display: none;
  }

  .flechegauche {
    display: none;
  }

  .contenu p {
    text-align: justify;
  }
  .contenu {
    font-size: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
  }

  .imageportnuit {
    min-height: 90%;
    min-width: 90%;
    margin-top: 80px;
  }

  footer {
    height: 15px;
    position: absolute;
  }

  .ML {
    position: relative;
    bottom: 5px;
    padding: 10px;
    margin-right: 10px;
    height: 5px;
    width: 150px;
    padding-left: 10px;
  }

  .MLtext {
    position: relative;
    bottom: 5px;
    display: block;
    text-align: center;
    font-size: 90%;
  }

  .drapeauf {
    width: 7%;
    height: 7%;
    border-radius: 2px #000000;
    margin-right: 50px;
  }

  .drapeauru {
    width: 7%;
    height: 7%;
    border-radius: 2px #000000;
  }

  #icon-menu {
    visibility: visible;
    position: relative;
    top: 30px;
  }

  nav ul, nav:active ul {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 20px;
    background: #EDECE4;
    border: 2px #000000 solid;
    left: 25px;
    top: 100px;
    width: 25%;
    text-decoration: none;
  }

  nav:hover ul {
    display: block;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }
}