table, td, th{
    margin-left : 800px ;
    margin-top: 200px;
     text-align: center;
     border: 1.5px solid  #aaaaaa;
     border-collapse:collapse;
     padding: 8px;
<<<<<<< HEAD


=======
     
     
>>>>>>> c5be866d5b0ad115f74f635fdb5515d12e8b9438
   }

   header {
    overflow: hidden;
    position: relative;
    padding: 20px;
    background-color: #333333;
    color: white;
    text-align: center;
    line-height: 150%;
  }

  img{
    margin-left : 50px  ;
    position: relative;
<<<<<<< HEAD
  }
=======
  }
  
>>>>>>> c5be866d5b0ad115f74f635fdb5515d12e8b9438
